<form hx-put="{% url 'show_project' project.id %}"
      hx-target="#project_title_description">
  {% csrf_token %}
  {{ project_form.as_p }}
  <input type="submit" value="Save" />
  <a href="{% url 'show_project' project.id %}">Cancel</a>
</form>
