<h1>{{ project.name }}</h1>
<div>Owner: {{ project.owner }}</div>
<div>{{ project.description }}</div>
<button hx-get="{% url 'edit_project_title_description' project.id %}"
        hx-target="#project_title_description">Edit title and description</button>
