{% extends "base.html" %}

{% block title %}
  Edit Task
{% endblock title %}
{% block content %}
  <main>
    <div class="task-form">
      <h1>Edit Task</h1>
      <form method="post">
        {% csrf_token %}
        {{ task_form.as_p }}
        <input type="submit" value="Save" />
        <a href="{% url 'show_my_tasks' %}">Cancel</a>
        <script>
      $(function () {
          $("#id_due_date").datepicker();
          $("#id_start_date").datepicker();
      });
        </script>
      </form>
    </div>
  </main>
{% endblock content %}
