{% extends "base.html" %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            <p>
                <a href="{% url 'create_my_task' %}">Create a new task</a>
            </p>
            {% if tasks|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <div>
                    <h3>Filter tasks by project</h3>
                    <form method="get" action="{% url 'show_my_tasks' %}">
                        {% csrf_token %}
                        {{ filter_form.as_p }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Project</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.project.name }}</td>
                                <td>{{ task.start_date|date:"M n, Y" }}</td>
                                <td>{{ task.due_date|date:"M n, Y" }}</td>
                                <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                                <td>
                                    <a href="{% url 'edit_my_task' task.id %}">
                                        <button>Edit</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
