{% extends "base.html" %}

{% block title %}
    Create a new task
{% endblock title %}
{% block content %}
    <main>
        <div class="task-form">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ task_form.as_p }}
                <script>
                    $(function () {
                        $("#id_due_date").datepicker();
                        $("#id_start_date").datepicker();
                    });
                </script>
                <input type="submit" value="Create" />
                <a href="javascript:window.history.back()">Cancel</a>
            </form>
        </div>
    </main>
{% endblock content %}
