{% extends "base.html" %}

{% block title %}
    Create a new project
{% endblock title %}
{% block content %}
    <main>
        <div class="project-form">
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                {{ project_form.as_p }}
                <input type="submit" value="Create" />
                <a href="javascript:window.history.back()">Cancel</a>
            </form>
        </div>
    </main>
{% endblock content %}
