{% extends "base.html" %}

{% block title %}
    Delete Project
{% endblock title %}
{% block content %}
    <h1>Delete confirmation</h1>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
        <a href="javascript:window.history.back()">Cancel</a>
    </form>
{% endblock content %}
