{% extends "base.html" %}

{% block title %}
    All Projects
{% endblock title %}
{% block content %}
    <main>
        <div class="project-form project-list">
            <h1>All Projects</h1>
            <div>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </div>
            {% if projects|length == 0 %}
                <div>You are not assigned to any projects.</div>
            {% else %}
                <div>
                    <h3>Filter projects by owner</h3>
                    <form method="get" action="{% url 'list_all_projects' %}">
                        {% csrf_token %}
                        {{ filter_form.as_p }}
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Owner</th>
                            <th>Number of Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.owner }}</td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
