{% extends "base.html" %}

{% block title %}
    My Projects | {{ project.name }}
{% endblock title %}
{% block content %}
    <main>
        <div class="project-form project-detail">
            <div id="project_title_description">
                {% include "projects/partials/project_title_description.html" %}

            </div>
            <div>
                <a href="{% url 'delete_project' project.id %}">Delete project</a>
            </div>
            <h2>Tasks</h2>
            <a href="{% url 'create_project_task' project.id %}">Create a new task</a>
            {% if project.tasks.all|length == 0 %}
                <div>This project has no tasks</div>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Owner</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.owner }}</td>
                                <td>{{ task.start_date|date:"M n, Y" }}</td>
                                <td>{{ task.due_date|date:"M n, Y" }}</td>
                                <td>{{ task.is_completed|yesno:"Yes,No" }}</td>
                                <td>
                                    <a href="{% url 'edit_project_task' task.id %}">
                                        <button>Edit</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
